<a href="https://colab.research.google.com/github/Techvolutions05/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/ASA_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [195]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [196]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [197]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [198]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [199]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [200]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 422
Data columns (total 59 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Burrito         421 non-null    object
 1   Date            421 non-null    object
 2   Yelp            87 non-null     float64
 3   Google          87 non-null     float64
 4   Chips           26 non-null     object
 5   Cost            414 non-null    float64
 6   Hunger          418 non-null    float64
 7   Mass (g)        22 non-null     float64
 8   Density (g/mL)  22 non-null     float64
 9   Length          283 non-null    float64
 10  Circum          281 non-null    float64
 11  Volume          281 non-null    float64
 12  Tortilla        421 non-null    float64
 13  Temp            401 non-null    float64
 14  Meat            407 non-null    float64
 15  Fillings        418 non-null    float64
 16  Meat:filling    412 non-null    float64
 17  Uniformity      419 non-null    float64
 18  Salsa           396 non-null    float64
 19  Synergy         419 non-null    float64
 20  Wrap            418 non-null    float64
 21  Unreliable      33 non-null     object
 22  NonSD           7 non-null      object
 23  Beef            179 non-null    object
 24  Pico            158 non-null    object
 25  Guac            154 non-null    object
 26  Cheese          159 non-null    object
 27  Fries           127 non-null    object
 28  Sour cream      92 non-null     object
 29  Pork            51 non-null     object
 30  Chicken         21 non-null     object
 31  Shrimp          21 non-null     object
 32  Fish            6 non-null      object
 33  Rice            36 non-null     object
 34  Beans           35 non-null     object
 35  Lettuce         11 non-null     object
 36  Tomato          7 non-null      object
 37  Bell peper      7 non-null      object
 38  Carrots         1 non-null      object
 39  Cabbage         8 non-null      object
 40  Sauce           38 non-null     object
 41  Salsa.1         7 non-null      object
 42  Cilantro        15 non-null     object
 43  Onion           17 non-null     object
 44  Taquito         4 non-null      object
 45  Pineapple       7 non-null      object
 46  Ham             2 non-null      object
 47  Chile relleno   4 non-null      object
 48  Nopales         4 non-null      object
 49  Lobster         1 non-null      object
 50  Queso           0 non-null      float64
 51  Egg             5 non-null      object
 52  Mushroom        3 non-null      object
 53  Bacon           3 non-null      object
 54  Sushi           2 non-null      object
 55  Avocado         13 non-null     object
 56  Corn            3 non-null      object
 57  Zucchini        1 non-null      object
 58  Great           421 non-null    bool
dtypes: bool(1), float64(19), object(39)
memory usage: 194.5+ KB

In [202]:
df.shape

(421, 59)

In [203]:
# Droppiug columns
df.drop(columns=['Yelp', 'Mass (g)', 'Density (g/mL)', 'Google', 'Chips', 'Cost', 'Unreliable', 'NonSD', 'Fries'], inplace=True)

In [204]:
df.head()

      Burrito       Date  Hunger  Length  ...  Avocado  Corn  Zucchini  Great
0  California  1/18/2016     3.0     NaN  ...      NaN   NaN       NaN  False
1  California  1/24/2016     3.5     NaN  ...      NaN   NaN       NaN  False
2    Carnitas  1/24/2016     1.5     NaN  ...      NaN   NaN       NaN  False
3       Asada  1/24/2016     2.0     NaN  ...      NaN   NaN       NaN  False
4  California  1/27/2016     4.0     NaN  ...      NaN   NaN       NaN   True

[5 rows x 50 columns]

In [205]:
col = ['Beef', 'Pico', 'Guac', 'Cheese', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots', 'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito', 'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso', 'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini']

for col in df[col]:
  df[col][df[col] == 'X'] = 1
  df[col][df[col] == 'x'] = 1

# Changing the col to numeric value
  df[col] = pd.to_numeric(df[col])

#  filling NaNs with 0 
  df[col] = df[col].fillna(0)

# for c in columns:
#   df[c] = df[c].str.replace('x', '1', case=False).astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [206]:
df[ing].shape

(421,)

In [207]:
df.describe(exclude='number')

           Burrito       Date  Great
count          421        421    421
unique           5        169      2
top     California  8/30/2016  False
freq           169         29    239

In [208]:
# Formating date
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

In [209]:
# Train on reviews from <= 2016. Val == 2017. Test >= 2018.
train = df[df['Date'].dt.year <= 2016]
val = df[df['Date'].dt.year == 2017]
test = df[df['Date'].dt.year >= 2018]

In [210]:
# Arranging the target matrix
target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [211]:
train.head()

      Burrito       Date  Hunger  Length  ...  Avocado  Corn  Zucchini  Great
0  California 2016-01-18     3.0     NaN  ...      0.0   0.0       0.0  False
1  California 2016-01-24     3.5     NaN  ...      0.0   0.0       0.0  False
2    Carnitas 2016-01-24     1.5     NaN  ...      0.0   0.0       0.0  False
3       Asada 2016-01-24     2.0     NaN  ...      0.0   0.0       0.0  False
4  California 2016-01-27     4.0     NaN  ...      0.0   0.0       0.0   True

[5 rows x 50 columns]

In [212]:

train.drop(columns=['Date'], inplace=True)
val.drop(columns=['Date'], inplace=True)
test.drop(columns=['Great', 'Date'], inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [213]:
train.shape, val.shape, test.shape

((298, 49), (85, 49), (38, 48))

In [214]:
from sklearn.metrics import accuracy_score

# Arranging features metrix & vector
features = train.columns.drop([target])
y_train = train[target]

# Getting the majority class
major_class = y_train.mode()[0]
y_pred = [major_class]*len(y_train)
accuracy_score(y_train, y_pred)

0.5906040268456376

In [215]:
import category_encoders as ce

#OHE of the features
encoder = ce.OneHotEncoder()

X_train = train[features]
X_val = val[features]
X_test = test[features]

X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)
X_test_encoded = encoder.transform(X_test)

X_train_encoded.head()

   Burrito_1  Burrito_2  Burrito_3  Burrito_4  ...  Sushi  Avocado  Corn  Zucchini
0          1          0          0          0  ...    0.0      0.0   0.0       0.0
1          1          0          0          0  ...    0.0      0.0   0.0       0.0
2          0          1          0          0  ...    0.0      0.0   0.0       0.0
3          0          0          1          0  ...    0.0      0.0   0.0       0.0
4          1          0          0          0  ...    0.0      0.0   0.0       0.0

[5 rows x 52 columns]

In [216]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)
X_test_imputed = imputer.transform(X_test_encoded)

# Scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)
X_test_scaled = scaler.transform(X_test_imputed)

In [217]:
imputed_df = pd.DataFrame(X_train_imputed)
imputed_df.head()

    0    1    2    3    4    5          6   ...   45   46   47   48   49   50   51
0  1.0  0.0  0.0  0.0  0.0  3.0  19.829886  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  3.5  19.829886  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  1.5  19.829886  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  1.0  0.0  0.0  2.0  19.829886  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  1.0  0.0  0.0  0.0  0.0  4.0  19.829886  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 52 columns]

In [218]:
from sklearn.linear_model import LogisticRegression

#  Use logistic regression.
y_val = val[target]
model = LogisticRegression()

# Model's validation accuracy
model.fit(X_train_scaled, y_train)
print(f'Model Accuracy Score: {model.score(X_val_scaled, y_val)}')

Model Accuracy Score: 0.7647058823529411

In [219]:
# Test acurracy score
y_pred = model.predict(X_test_scaled)
print(f'Test Accuracy Score: {model.score(X_test_scaled, y_pred)}')

Test Accuracy Score: 1.0